body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

a {
    color: #000;
    text-decoration: none;
}

#head {
    font-weight: bold;
    background-color:#5C3D67;
    padding:5px 10px;
    color:#fff;
    cursor: pointer;
}

#head a {
    color: #fff;
}

#event-list-cont {
    padding: 5px 10px;
}

.event-list-line {
    padding: 5px;
}

.event-list-line:hover {
    background-color: #f0f0f0;
}