title: 'Jedes.cz'
motto: '...your leisure'
facebookPage: 'Facebook page'
keywords: 'events,leisure,entertainment'
recommendedEvents: 'Recommended events'
noEventsAvailable: 'No events available at this time.'
appIs: 'Jedes.cz is an open database of events in which each user can find a way to spend their leisure time.'
