title: 'Jedeš.cz'
motto: '...tvůj volný čas'
facebookPage: 'Facebook stránka'
keywords: 'akce,zábava,události'
description: 'Jedeš.cz nabízí svým uživatelům stovky různých příležitostí a návrhů, jak strávit volný čas. Díky jedinečnému propojení se sociálními sítěmi dostává plánování volného času zcela nový rozměr!'
recommendedEvents: 'Doporučené události'
noNewEventsAvailable: 'Nejsou k dispozici žádné události.'
