{block content}

<div style="margin-top:100px;">
    <div class="event-list-cat">
        <h2 n:block=title><i class="fa fa-building"></i>&nbsp; {_pages.places.cities.title}</h2>
    </div>

    <div class="cont-paper">
        <p n:inner-foreach="$cities as $city">
            <a href="#">{$city->name}</a><br />
        </p>
    </div>

    <div>
        <img src="{$basePath}/style/img/bottom-shadow.png" style="width: 100%;">
    </div>
</div>