{block content}

<div style="margin-top:100px;">
    <div class="event-list-cat">
        <h2 n:block=title><i class="fa fa-map-marker"></i>&nbsp; {_pages.places.title}</h2>
    </div>

    <div class="cont-paper">
        <p>
            <a class="btn btn-primary" n:href="cities"><i class="fa fa-building-o"></i>&nbsp; {_pages.places.cities.title}</a>
        </p>
    </div>

    <div>
        <img src="{$basePath}/style/img/bottom-shadow.png" style="width: 100%;">
    </div>
</div>