{block content}
<div id="banner">
    <h2 n:block=title>O aplikaci</h2>
</div>

<div id="content">
    <h3>Cíl</h3>
    <p>
        Naším cílem je shromáždit informace o všech akcích konaných na území České republiky.
        Tímto způsobem bychom rádi dali lidem příležitost rozhodnout se, jak nejlépe strávit svůj volný čas.
    </p>
    <h3>Otevřená databáze</h3>
    <p>
        Databázi veřejných akcí poskytujeme k dalšímu použití.
    </p>
</div>