<div id="header">
    <a n:href="Homepage:">
        <img src="{$basePath}/style/img/logo-slim.png" id="logo"/>
    </a>
    <div id="header-back" onClick="window.location.href = '{$basePath}';">
        <h1><a n:href="Homepage:">{_general.title}</a></h1>
        <h2>{_general.motto}</h2>
    </div>
    {include './menu.latte'}
</div>
