{block content}

<div style="margin-top:100px;">
    <div class="event-list-cat">
        <h2 n:block=title>{_pages.event.add.title}</h2>
    </div>

    <div class="cont-paper">
        <p>
            <i class="fa fa-info-circle"></i>&nbsp; {_pages.event.add.notAvailable}
        </p>
    </div>

    <div>
        <img src="{$basePath}/style/img/bottom-shadow.png" style="width: 100%;">
    </div>
</div>