{block content}

<div style="margin-top:100px;">
    <div class="event-list-cat">
        <h2 n:block=title>Vytvořit událost</h2>
    </div>

    <div class="cont-paper">
        <p>
            V současné době není možné přidávat nové akce.
        </p>
    </div>

    <div>
        <img src="{$basePath}/style/img/bottom-shadow.png" style="width: 100%;">
    </div>
</div>